<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhgqcVIu05Wq4cua7OIbPh_gF1fMQYsgE</string>
	<key>GCM_SENDER_ID</key>
	<string>876542242167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devpoli.DevPoliChallenge</string>
	<key>PROJECT_ID</key>
	<string>desafiodevpolilogin</string>
	<key>STORAGE_BUCKET</key>
	<string>desafiodevpolilogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876542242167:ios:187e0e74fb88f77543c572</string>
</dict>
</plist>